.header{
  
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: var(--bg-color);
}

.headerContainer{
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  width: 100%;
  max-width: 1000px;
  margin-inline: auto;
}